@import '/src/static/scss/variables';

.wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.postsTitle {
    text-align: center;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 30px;
}
